services:
  postgres-db:
    container_name: postgres
    ports:
      - 5432:5432
    environment:
      - POSTGRES_PASSWORD=%PASSWORD%
      - POSTGRES_USER=%USER%
      - PGDATA=./db-data
    image: postgres:17.6-alpine3.22
    restart: always
    volumes:
      - "./postgredb-data:/db-data"
    networks:
      - db-network

networks:
  db-network:
    driver: bridge